<<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
<!--    <link rel="stylesheet" href="Link hier de stylesheet">-->
<!--    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> vanuit hier icoontjes picken voor ul class WRAPPER-->
</head>
<body>

<div class="wrapper">
    <div class="wrapper">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Courses</li>
            <li><a href="#"></a>Contact</li>
            <li><a href="#"></a>Rate us!</li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ducimus illum incidunt, pariatur quam quia quod ratione velit? Alias blanditiis harum in iusto magni minima natus recusandae unde vel vitae!</div>
        </div>
    </div>
</div>

</body>
</html>

<!--Gemaakt met deze tutorial voor ref https://www.youtube.com/watch?v=YesSVqjcDts-->