*{
	box-sizing: content-box;
}


html, body {
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
}

body { 
    background: url('../img/background.jpeg') no-repeat ;
  
    background-size: cover;
   
    


}


.buttons a {
    border: 0px solid yellow;
    padding: 11px;
    font-size: 11px;
    color: white;
    font-weight: 800;
    width: 49%;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: yellow;
}
.buttons a:hover{
    background-color: white;
    color: black;
    transition: 1s;

}
.nav-wrapper{
	background-color: black;
	padding: 27px;
	position: relative;
    width: 100%;
}



.image{
	width: 100%;
}
.image img {
    width: 22%;

}
/*.btn_login{
	border-radius: 10px;
	background-color: white!important;
	width:100%;
}*/

.register {
    background-color: yellow;
    border:1px;
    padding:8px;
}
.register:hover{
    text-decoration: none!important;
    color: yellow;
    transition: 1s;


}



form{
	padding: 40px;
}

.inner {
    padding: 58px;
    width: 100%;
    height: 100%;
}

.inner form {
    opacity: 0.6;
    border: 0px solid black;
    border-radius: 26px;
    background: black;
    width: 100%;

    }

.login_inner{
  max-width: 340px;
}

.login_inner form {
    border: 0px solid black;
    border-radius: 17px;
    background: #000000d9;
    width: 100%;
    padding: 46px;
  }

.wrapper {
    /*padding-top: 110px;
    padding-bottom: 40px;*/
    /*padding: 118px;*/
        padding: 138px;
}

.img{
	width: 100%;
}
.img img {
     width: 100%;
     height: 100%;
     border-radius: 30px;
}
.text h2 {
    color: white;
    padding: 30px;
    font-weight: 400;
}

#loremipsum{
	border-radius: 10px;
	background-color: rgba(128, 128, 128, 0.48);
	border: 0px solid #ced4da;
	color: white;
	position: relative;
}


#loremipsum::placeholder{
	color: white;
	border:0px solid black;

}

.form-control:focus {
    color: #495057;
    background-color: rgba(48, 48, 48, 1)!important;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

textarea.form-control {
    height: 160px!important;
}

.navbar-nav .nav-link {
    padding-right: 38px!important;
    padding-left: 49px!important;
}




/*sasas*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}



.html-course{
  padding-bottom: 41px;
}

img {
    width: 100%;
    
}
.card-text{
  color: whit;
}
.card-text p {
  font-size: 9px;
}
/*.videos-courses{
  color: white;
  padding: 90px 9px 60px;
}*/


.space{
  padding-top: 80px;
}

.no-padding{
  padding: 0px!important
}
.no-margin{
  margin: 0px!important;
}

.controls-right a{
  color: gray;
  font-size: 30px;
}

.controls-right a:hover{

  text-decoration: none;
  transition:1s;
  color: white;

}

.under-wrapper{
  background-color: transparent gray;
}

.inner2 {
    padding: 40px 13px 39px 18px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 30px;
    border: 0px;
    position: relative;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: ;
    color: #aaa;
}



.has_icon .form-control {
    padding-left: 2.375rem;
    border-radius: 30px;
    border: 0px;
    position: relative;
}
.has_icon .form-control-login {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: ;
    color: #aaa;
}

.has_icon .form-control-register {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: ;
    color: #aaa;
}
.not-loggedin a{
color: blue;

}
.not-loggedin {
color: white;

}

.jumbotron{
  background-color: #14141482!important;

}

.not-loggedin a:hover{
color: yellow;
text-decoration: none;
transition: 1s;

}
.max-container{
  max-width: 340px!important;
}

form .form-group input{
border:0px;
border-radius: 10px;
color: white;

background-color:rgba(48, 48, 48, 1);

}

.has_icon input{
border:0px;
border-radius: 10px;
color: white;

background-color:rgba(48, 48, 48, 1);
}


.login_button{
  background-color:#27AE60!important;
  color: white!important;
  width: 100%;
}
.register_button{
  background-color:#27AE60!important;
  color: white!important;
  width: 100%;
}
.text-block p {
    color: white;
    margin-bottom: 0px!important;
}
.text-block{
  margin-top: 10px;
}

.homebutton a{
  padding: 11px;
  width: 18%;
  border-radius: 18px;
  font-size: 12px;
  border: 0px;
}

.w3-animate-left {
    position: relative!important;
    animation: animateleft 1.5s!important;
}

.gezeik p{
    font-size:22px;
}

.zebi h1{
    font-size:50px;
}

#searchbalk input{
  background-color: white;
  color: white;
}
#searchbalk input:focus{
  background-color: white!important;
 color: gray;
}


.scroll {   
    font-size: 30px!important;
    color: white!important;
    
    
   -webkit-animation: scrolling 3s ease infinite;
   -moz-animation: scrolling 3s ease infinite;
   -o-animation: scrolling 3s  ease infinite;
   animation: scrolling 3s ease infinite;


}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }
 
  50% {
    transform: translate(0,40px);
  }

 
  100% {
     transform: translate(0);
  }
}



.inner-wrapper {
    position: absolute;
    top: 33%;
    color: black;
    width: 100%;
    display: inline-block;
}


#space-button1{
      margin-top: 40px;

  
}


@media screen and (max-width: 480px) {
  body {
    display: none;
  }
}